header {
    background-color: white; 
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  
}

header h1 {
    color: blue;
}

header h1 strong {
    color: black
}

.hamburger-btn {
    max-width: 45px;
    max-height: fit-content;
   
}

.card-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    justify-content: center;
    margin: 1em;
}

.card-container h1#subreddit {
    color: red;
    text-align: left;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.card-container h1#title {
    color: black;
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.card-container p#description {
    margin-top: 0;
    margin-bottom: 0;
}

.card-container .card-buttons-container {
    display: flex; 
}

.card-container .card-buttons-container .vote-buttons-container {
    display: flex; 
    
}

.card-container .card-buttons-container .vote-buttons-container button {
    margin: 1em;
}

.card-container .card-buttons-container button {
    margin: auto;
    justify-content: right;
}